@import "../defaults/color";
@import "../components/header";
@import "../components/footer";


main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding-bottom: 10px;
    border: 1px solid white;

    .twocolumn {
        p {
            color: white;
            margin: 5px;
        }

        img {
            padding: 5px;
            width: 50%;
            height: auto;
            border-radius: 50%;
        }
    }
}

@media screen and (min-width: 600px) {
    main {
        .twocolumn {
            p {
                font-size: 24px;
                padding: 15px;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    main {
        column-count: 2;
        
        
            .twocolumn {
                display: grid;
                grid-template-columns: 1fr 1fr;

                p {
                    padding: 20px;
                    font-size: 30px;
                    color: white;
                }

                img {
                    width: 50%;
                    height: auto;
                    border-radius: 50%;
                    margin-top: 50px;
                }
            }
        }
        
    }