header {
  padding-top: 20px;
  text-align: center;
  background-color: #808080;
  border: 1px solid white;
}
header .logo {
  border-radius: 50%;
}
header .logo .name {
  color: white;
}
header .logoimage {
  width: 83px;
  height: 150px;
  border-radius: 30%;
}
header nav {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
header nav a {
  color: white;
  text-decoration: none;
  width: 100%;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  header .logo {
    margin-left: 3%;
    font-size: 22px;
  }
  header .navbar {
    width: 50%;
    margin-right: 2%;
    font-size: 22px;
  }
}
@media screen and (min-width: 900px) {
  header .logo {
    font-size: 30px;
  }
  header .logo .logoimage {
    height: 219px;
    width: 120px;
  }
  header .navbar {
    width: 50%;
    margin-right: 2%;
    font-size: 30px;
  }
}
footer {
  text-align: center;
  background-color: #808080;
  padding: 10px;
  border: 1px solid white;
}
footer .socials {
  display: flex;
  justify-content: space-around;
}
footer .socials a {
  color: #F9F6EE;
  text-decoration: none;
  font-weight: bold;
}
footer .copyright {
  color: #F9F6EE;
}

@media screen and (min-width: 600px) {
  footer .socials {
    font-size: 24px;
  }
  footer .copyright {
    font-size: 24px;
  }
}
@media screen and (min-width: 900px) {
  footer .socials {
    font-size: 30px;
  }
  footer .copyright {
    font-size: 30px;
  }
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  padding-bottom: 10px;
  border: 1px solid white;
}
/* Makes blog hyperlinks yellow */
main a {
  text-decoration: none;
  color: yellow;
}
main section {
  margin: 15px;
}
/* Gives blog heading underline */
main section .blogmain {
  color: white;
  margin-bottom: 15px;
  text-decoration: underline;
}
/* Each individual blog post has white text, with reasonably sized images. */
main section .blogpost1 {
  color: white;
}
main section .blogpost1 img {
  width: 50%;
  height: auto;
}
main section .blogpost2 {
  color: white;
}
main section .blogpost2 img {
  width: 50%;
  height: auto;
}
main section .blogpost3 {
  color: white;
}
main section .blogpost3 img {
  width: 50%;
  height: auto;
}
main section .blogpost4 {
  color: white;
}
main section .blogpost4 img {
  width: 50%;
  height: auto;
}
main section .blogpost5 {
  color: white;
}
main section .blogpost5 img {
  width: 50%;
  height: auto;
}

/* Makes text larger for tablet breakpoint. */
@media screen and (min-width: 600px) {
  h1 {
    font-size: 32px;
  }
  .blogpost1 h3 {
    font-size: 28px;
  }
  .blogpost1 h4 {
    font-size: 26px;
    font-style: italic;
  }
  .blogpost1 p {
    font-size: 22px;
  }
  .blogpost2 h3 {
    font-size: 28px;
  }
  .blogpost2 h4 {
    font-size: 26px;
    font-style: italic;
  }
  .blogpost2 p {
    font-size: 22px;
  }
  .blogpost3 h3 {
    font-size: 28px;
  }
  .blogpost3 h4 {
    font-size: 26px;
    font-style: italic;
  }
  .blogpost3 p {
    font-size: 22px;
  }
  .blogpost4 h3 {
    font-size: 28px;
  }
  .blogpost4 h4 {
    font-size: 26px;
    font-style: italic;
  }
  .blogpost4 p {
    font-size: 22px;
  }
  .blogpost5 h3 {
    font-size: 28px;
  }
  .blogpost5 h4 {
    font-size: 26px;
    font-style: italic;
  }
  .blogpost5 p {
    font-size: 22px;
  }
}

/* Makes text larger for desktop breakpoint and uses column design. */

@media screen and (min-width: 900px) {
  main {
    -moz-column-count: 2;
         column-count: 2;
  }
  main .blogbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
  }
}/*# sourceMappingURL=blog.css.map */