@import "../defaults/color";
@import "../components/header";
@import "../components/footer";


main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding-bottom: 10px;
    border: 1px solid white;
    
    a {
        text-decoration: none;
        color: yellow;
    }

    section {

        margin: 15px;

        .blogmain {
            color: white;
            margin-bottom: 15px;
            text-decoration: underline;
        }
        .blogpost1 {
            color: white;

            img {
                width: 50%;
                height: auto;
            }
        }

        .blogpost2 {
            color: white;

            img {
                width: 50%;
                height: auto;
            }
        }

        .blogpost3 {
            color: white;

            img {
                width: 50%;
                height: auto;
            }
        }

        .blogpost4 {
            color: white;

            img {
                width: 50%;
                height: auto;
            }
        }

        .blogpost5 {
            color: white;

            img {
                width: 50%;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    
    h1 {
        font-size: 32px;
    }

    .blogpost1 {
        h3 {
            font-size: 28px;
        }

        h4 {
            font-size: 26px;
            font-style: italic;
        }

        p {
            font-size: 22px;
        }

    }

    .blogpost2 {
        h3 {
            font-size: 28px;
        }
        
        h4 {
            font-size: 26px;
            font-style: italic;
        }

        p {
            font-size: 22px;
        }
    }

    .blogpost3 {
        h3 {
            font-size: 28px;
        }

        h4 {
            font-size: 26px;
            font-style: italic;
        }

        p {
            font-size: 22px;
        }
    }

    .blogpost4 {
        h3 {
            font-size: 28px;
        }

        h4 {
            font-size: 26px;
            font-style: italic;
        }

        p {
            font-size: 22px;
        }
    }

    .blogpost5 {
        h3 {
            font-size: 28px;
        }

        h4 {
            font-size: 26px;
            font-style: italic;
        }

        p {
            font-size: 22px;
        }
    }
}

@media screen and (min-width: 900px) {
    main {
        column-count: 2;
        
        
            .blogbody {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 10px;
            }

        }

    }