header {
  padding-top: 20px;
  text-align: center;
  background-color: #808080;
  border: 1px solid white;
}
header .logo {
  border-radius: 50%;
}
header .logo .name {
  color: white;
}
header .logoimage {
  width: 83px;
  height: 150px;
  border-radius: 30%;
}
header nav {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
header nav a {
  color: white;
  text-decoration: none;
  width: 100%;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  header .logo {
    margin-left: 3%;
    font-size: 22px;
  }
  header .navbar {
    width: 50%;
    margin-right: 2%;
    font-size: 22px;
  }
}
@media screen and (min-width: 900px) {
  header .logo {
    font-size: 30px;
  }
  header .logo .logoimage {
    height: 219px;
    width: 120px;
  }
  header .navbar {
    width: 50%;
    margin-right: 2%;
    font-size: 30px;
  }
}
footer {
  text-align: center;
  background-color: #808080;
  padding: 10px;
  border: 1px solid white;
}
footer .socials {
  display: flex;
  justify-content: space-around;
}
footer .socials a {
  color: #F9F6EE;
  text-decoration: none;
  font-weight: bold;
}
footer .copyright {
  color: #F9F6EE;
}

@media screen and (min-width: 600px) {
  footer .socials {
    font-size: 24px;
  }
  footer .copyright {
    font-size: 24px;
  }
}
@media screen and (min-width: 900px) {
  footer .socials {
    font-size: 30px;
  }
  footer .copyright {
    font-size: 30px;
  }
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  padding-bottom: 10px;
  border: 1px solid white;
}
main .buttons .aboutbutton {
  color: black;
  border-radius: 8px;
  background-color: #FFFBC8 !important;
  margin: 20px;
  border: 2px solid white;
  font-size: 18px;
}
main .buttons .skillsbutton {
  color: black;
  border-radius: 8px;
  background-color: #ADD8E6 !important;
  margin: 20px;
  border: 2px solid white;
  font-size: 18px;
}
main .buttons .portfoliobutton {
  color: black;
  border-radius: 8px;
  background-color: #CBC3E3 !important;
  margin: 20px;
  border: 2px solid white;
  font-size: 18px;
}

.jumbotron img {
  margin: 0;
  width: 100%;
  margin-bottom: 50px;
}
.jumbotron .jumbotron-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.jumbotron .jumbotron-subtext {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.jumbotron .jumbotron-texttwo {
  color: #ADD8E6;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .jumbotron .jumbotron-text {
    font-size: 28px;
  }
  .jumbotron .jumbotron-subtext {
    font-size: 28px;
  }
  main .buttons .aboutbutton {
    font-size: 30px;
  }
  main .buttons .skillsbutton {
    font-size: 30px;
  }
  main .buttons .portfoliobutton {
    font-size: 30px;
  }
  .jumbotron .jumbotron-texttwo {
    font-size: 28px;
  }
}
@media screen and (min-width: 900px) {
  .jumbotron img {
    height: 800px;
  }
  .jumbotron .jumbotron-text {
    font-size: 32px;
  }
  .jumbotron .jumbotron-texttwo {
    font-size: 32px;
  }
  .jumbotron .jumbotron-subtext {
    font-size: 32px;
  }
  main .buttons .aboutbutton {
    font-size: 24px;
  }
  main .buttons .skillsbutton {
    font-size: 24px;
  }
  main .buttons .portfoliobutton {
    font-size: 24px;
  }
}/*# sourceMappingURL=home.css.map */