@import "../defaults/color";
@import "../components/header";
@import "../components/footer";


main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding-bottom: 10px;
    border: 1px solid white;
    color: white;
    margin: 0;

    a {
        text-decoration: none;
        color: yellow;
    }

    p {
        margin: 15px;
    }

    img {
        width: 10%;
        height: auto;
        padding-bottom: 10px;
    }

}

@media screen and (min-width: 600px) {
    .githubonpage {
        h2 {
        margin-top: 20px;
        font-size: 34px;
        text-decoration: underline;
        }
        a {
            margin-top: 15px;
        }
    }

    .githubprojects {
        h3 {
            font-size: 28px;
        }

        a {
            margin-top: 20px;
            font-size: 24px;
        }

        p {
            margin-top: 15px;
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 900px) {
    .githubprojects {
        a {
            font-size: 26px;
        }

        p {
            font-size: 24px;
        }
    }
}