@import "../defaults/color";
@import "../components/header";
@import "../components/footer";


main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding-bottom: 10px;
    border: 1px solid white;
    color: white;
    margin: 0;


    img {
        width: 10%;
        height: auto;
        padding-bottom: 10px;
    }
}