header {
    padding-top: 20px;
    text-align: center;
    background-color: $secondary-color;
    border: 1px solid white;

    .logo {
        border-radius: 50%;

        .name {
            color: white;
        }
    }
    .logoimage {
        width: 83px;
        height: 150px;
        border-radius: 30%;
    }
    nav {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        
        a {
            color: white;
            text-decoration: none;
            width: 100%;
        }
    }
}

@media screen and (min-width: 600px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .logo {
            margin-left: 3%;
            font-size: 22px;
        }
        
        .navbar {
            width: 50%;
            margin-right: 2%;
            font-size: 22px;
        }
    }
}

@media screen and (min-width: 900px) {
    header {
        .logo {

            font-size: 30px;
            
            .logoimage {
                height: 219px;
                width: 120px;
            }
        }

        .navbar {
            width: 50%;
            margin-right: 2%;
            font-size: 30px;
        }
    }
}